<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



.nav-link {
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

nav {
  transition: 0.7s ease;
}

.navbar {
  border-bottom: 1px rgba(255, 255,255,0.3) solid;
}

.nav-link:after {

  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
>>>>>>> Stashed changes
